sudo: required
os: linux
dist: xenial
language: generic
services: 
   - docker
before_install:
   - docker build -t nasri/snapp:v1 -f apps/v1.0.0/Dockerfile .
   - docker build -t nasri/snapp:v2 -f apps/v2.0.0/Dockerfile .
   - docker build -t nasri/snapp:v3 -f apps/v3.0.0/Dockerfile .
   - docker build -t nasri/snapp:v4 -f apps/v4.0.0/Dockerfile .

deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master  
    
